---
import Layout from '../layouts/Layout.astro';
import gsap from "gsap"
import heroVideo from "../../public/assets/heroVideo2.mp4"
import heroVideo3 from "/assets/darkOverlayLarge.mp4"
import HeroSixthPage from '../components/HeroSixthPage.astro';
import HeroLastPage from '../components/HeroLastPage.astro';
import Horizontal from '../components/Horizontal .astro';
import HeroSeventhPage from '../components/HeroSeventhPage.astro';
import Navbar from '../components/Navbar.astro';
import Stats from '../components/Stats.astro';
import CTAPage from '../components/CTAPage.astro';
import Footer from '../components/Footer.astro';
import StackingCardsHero from '../components/StackingCardsHero.astro';
import ContactForm from '../components/ContactForm.astro';

---
<!--home page -->
<Layout title="CX-Point">
	<main class="w-[100vw] h-[100vh] bg-[#E7E7D6]">
        <section class="loader absolute z-40 h-[100vh] w-[100vw]">
            <div class="second w-full h-full flex items-center justify-center ">
                <div class=" flex flex-col gap-4 items-center pointer-events-none">
                    <div class="picture">
						<img class="w-full h-full object-cover" src="/assets/hero_img4.png"/>
					</div>
                </div>
            </div>
		</section>
		<div class="w-full h-full page1 relative">
			<Navbar/>
			<div class="w-[100vw] h-[100vh] overflow-hidden flex items-center justify-center">
				<video 
					src="/assets/darkOverlayLarge2.mov"
					autoplay 
					loop 
					muted 
					playsinline 
					preload="auto" 
					class="w-full h-full object-cover vid relative"	
				>
					<source src={heroVideo3} type="video/mp4" />
					<source src="/assets/heroVideo2.mp4" type="video/mp4" />
					Your browser does not support the video tag.
				</video>
				<div class="absolute top-[48%] md:top-[48%] left-[50%] md:left-[36%] xl:left-[36%] 2xl:left-[36%] 3xl:left-[35%] transform -translate-x-1/2 -translate-y-1/2 pointer-events-none z-100 ">
					<div class="flex flex-col items-center justify-center">
						<div class="flex flex-col items-center lg:items-start justify-start gap-2 md:gap-4 h-full lg:w-full" >
							<svg width="10%" height="10%" viewBox="0 0 56 62" fill="none" xmlns="http://www.w3.org/2000/svg" class="astrix opacity-0 md:w-[6%] md:h-[6%]">
								<path d="M25.39 61.3035V34.7442L2.50559 47.9404L0 43.9314L23.0515 30.5682L0 17.3721L2.50559 13.1961L25.39 26.5593V0H30.2342V26.3923L53.1186 13.1961L55.4571 17.3721L32.5727 30.5682L55.4571 43.9314L53.1186 47.9404L30.2342 34.7442V61.3035H25.39Z" fill="white"></path>
							</svg>
							<div class="w-fit h-full overflow-hidden">
								<p class="new font-semibold text-[1.6rem] md:text-[3.8rem] text-white animated-text text-nowrap ">Orchestrating Experiences </p>
							</div>
						</div>
						<div class="w-full h-full overflow-hidden">
							<p class="text-white new font-semibold text-[1.6rem] md:text-[3.8rem] animated-text test ">
								responsibly across Cloud Contact Centres Platform using AI
							</p>
						</div>
						<div class="w-full h-full overflow-hidden mt-20 md:mt-2 py-4 hidden md:flex ">
							<p class="text-white new font-normal text-[1.2rem] animated-text ">We automate <span class=" px-3 py-2 mx-2 bg-white text-black rounded-full mediaan">Contact Center Experiences</span> that transform visions into reality</p>
						</div>
						<div class="w-full h-full overflow-hidden mt-40 md:mt-2 py-4 flex flex-col items-center justify-center md:hidden">
							<p class="text-white new font-normal text-[1.4rem] animated-text ">We design Experiences that</p> 
							<span class="px-3 py-2 my-2 bg-white text-black rounded-full mediaan w-fit animated-text">Transform </span>
							<p class="text-white new font-normal text-[1.4rem] animated-text ">visions into reality</p>
						</div>
					</div>
				</div>
			</div>
		</div> 
		<div class=" relative">
			<StackingCardsHero />
		</div>
		<div class="w-screen h-[350px] bg-[#E7E7D6] flex items-center justify-start md:px-28 px-2">
			<div class="flex flex-col items-start justify-center md:w-[60%]">
				<div class="flex md:flex-row flex-col md:items-center items-start justify-start gap-4">
					<svg class="astrix" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.311 30.7873V21.195L3.95649 25.9911L0.862207 20.6535L9.21676 15.8574L0.862207 11.0612L3.95649 5.64626L12.311 10.4424V0.850127H18.577V10.4424L26.8541 5.64626L30.0258 11.0612L21.6712 15.8574L30.0258 20.6535L26.8541 25.9911L18.577 21.2724V30.7873H12.311Z" fill="black"></path>
					</svg>
					<p class="text-black font-semibold new md:text-[1.7rem]">We don’t just design, we engineer your</p>
				</div>
				<p class="text-black md:text-[1.7rem] font-semibold new">success by harnessing AI-powered insights ,our innovative solutions and decades of experience. We take full ownership of your Cloud based contact center, gaining a deep understanding of your business, agents and developers unique challenges and we deliver tailored, AI driven cost effective results without compromising your vision.</p>
			</div>
		</div>
		<Horizontal />
		<HeroSeventhPage/>
		<HeroLastPage/>
		<!-- <Stats /> -->
		<CTAPage />
		<!-- <ContactForm /> -->
		<Footer/>
		
	</main>
</Layout>

<style>
	@media (max-width: 768px) {
		.test{
			text-align: center;
		}
	}

	.mediaan{
		font-family: "MediaanItalic";
	}

	section{
		margin: 0;
		padding: 1rem;
		box-sizing:border-box;
		width: 100%;
		height: 100vh;
		background-color: #E7E7D6;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow:hidden
	}

	.picture {
		width: 100%;
		height: 200px;
		scale:0;
		object-fit: cover;
	}

	.new{
		font-family: "new";
		font-stretch: 520%;
		line-height: 1;

	}

	.headline{
		font-family: "akira";
		font-stretch:ultra-expanded;
		font-weight: 900;	
	}
	
	.font-items{
		font-family: "MediaanItalic";
		font-weight: 100;
		line-height: 1;
	}

	.nav-links a{
		color: white;
		font-weight: 600;
		font-stretch: 1000%;
		font-size: 1vw;
		cursor: pointer;
		transition: all 0.5s ease-in;
		z-index: 10;
	}

	.nav-links a:hover{
		color: yellow;
		border-radius: 10px;
	}

</style>

<script>
gsap.registerPlugin(ScrollTrigger);

	gsap.to(".rotate", {
		rotate: 360,
		repeat: -1,
		ease: "linear",
		duration: 3,
	})
	const t1 = gsap.timeline()

	t1.to(".picture", {
        scaleX: 1,
        scaleY: 1,
        width: "100vw",
        height: "100vh",
        duration: 1.5,
		opacity:1,
        ease: "power2.inOut",
    })
	.to(".loader" , {
		opacity:0,
	})
	.to(".vid", {  
    ...(window.innerWidth > 768 ? { scaleX: 0.99, scaleY: 0.97 } : {}),
    borderRadius: window.innerWidth > 768 ? 90 : 0, // Only apply border radius on larger screens
    duration: 1,
})
	t1.from(".navbar",{
		y:"-100%",
		duration:0.5,
		opacity:0,
	})

	.to(".astrix", {
		opacity:1,
	},"anim")
	.to(".astrix", {
		rotate: "360deg",
		repeat: -1,
		ease: "linear",
		duration: 3,
		delay:-0.5,
	},"anim")

	t1.fromTo(".animated-text", 
    { opacity: 0, y: 50 }, // Starting properties: fully transparent and 50 pixels down
    { opacity: 1, y: 0, duration: 1, ease: "power2.out" ,delay:-0.9 } ,// Ending properties: fully visible and at original position
	);


</script>
