---
import Layout from '../layouts/Layout.astro';
import gsap from "gsap"
import heroVideo from "../../public/assets/heroVideo2.mp4"
import heroVideo3 from "../../public/assets/heroVideo3.mp4"
import Marquee from "../components/marquee.astro"
import HeroSecond from '../components/HeroSecondPage.astro';
import HeroFourthPage from '../components/HeroFourthPage.astro';
import HeroFifthPage from '../components/HeroFifthPage.astro';
import HeroSixthPage from '../components/HeroSixthPage.astro';
import HeroLastPage from '../components/HeroLastPage.astro';
import astrixwhite from "../../public/assets/whiteAsterisk.png"
import astrixblack from "../../public/assets/asterisk.png"
import StackingCards from '../components/StackingCards.astro';
import Horizontal from '../components/Horizontal .astro';
import HeroSeventhPage from '../components/HeroSeventhPage.astro';
---

<Layout title="CX-Point">
	<main class="w-[100vw] h-[100vh] bg-white">
        <section class="loader absolute z-40 h-[100vh] w-[100vw]">
            <div class="second w-full h-full flex items-center justify-center ">
                <div class=" w-[50%] flex flex-col gap-4 items-center pointer-events-none">
                    <div class="picture"><img class="w-full h-full object-cover" src="/assets/loader-picture.png"/></div>
                </div>
            </div>
		</section>
		<div class="w-full h-full page1 relative">
			<nav class="navbar absolute top-[4%] left-1/2 transform -translate-x-1/2 w-[88%] bg-transparent z-50">
				<div class="container mx-auto flex justify-between items-center p-4">
					<div class="text-xl font-bold text-white"><a href="/">Logo</a></div>
					<ul class="flex space-x-4 px-6 py-4 bg-[#373737] rounded-full ">
						<li class="nav-links"><a href="/products" class="text-white hover:rounded-full">Products</a></li>
						<li class="nav-links"><a href="#about" class="text-white ">About</a></li>
						<li class="nav-links"><a href="/services" class="text-white ">Services</a></li>
						<li class="nav-links"><a href="#contact" class="text-white ">Contact</a></li>
					</ul>
					<button class=" text-black text-[0.9rem] px-6 py-4 rounded-full bg-[#F9FC50] font-semibold">Get in touch</button>
				</div>
			</nav>
			<div class="w-[100vw] h-[100vh] overflow-hidden flex items-center justify-center">
					<video 
						src={heroVideo3} 
						autoplay 
						loop 
						muted 
						class="w-full h-full object-cover vid relative"
					/>
					<div class="absolute top-[36%] left-[38%] transform -translate-x-1/2 -translate-y-1/2 pointer-events-none z-100 ">
						<div class="flex flex-col items-center justify-center">
							<div class="flex items-center justify-start gap-4 h-full" >
								<svg width="6%" height="6%" viewBox="0 0 56 62" fill="none" xmlns="http://www.w3.org/2000/svg" class="astrix opacity-0">
									<path d="M25.39 61.3035V34.7442L2.50559 47.9404L0 43.9314L23.0515 30.5682L0 17.3721L2.50559 13.1961L25.39 26.5593V0H30.2342V26.3923L53.1186 13.1961L55.4571 17.3721L32.5727 30.5682L55.4571 43.9314L53.1186 47.9404L30.2342 34.7442V61.3035H25.39Z" fill="white"></path>
								</svg>
								<div class="w-full h-full overflow-hidden">
									<p class="new font-semibold text-[4.2rem] text-white animated-text text-nowrap ">Success-Driven Approach</p>
								</div>
							</div>
							<div class="w-full h-full overflow-hidden">
							<p class="text-white new font-semibold text-[4rem] animated-text ">
								for ambitious Leaders
							</p>
							</div>
							<div class="w-full h-full overflow-hidden mt-2 py-4">
								<p class="text-white new font-normal text-[1.2rem] animated-text ">We design <span class=" px-3 py-2 mx-2 bg-white text-black rounded-full mediaan">Experiences</span> that transform visions into reality</p>
							</div>
						</div>
					</div>
			</div>
		</div> 
		<StackingCards />
		<div class="w-screen h-[350px] bg-white flex items-center justify-start px-28">
			<div class="flex flex-col items-start justify-center w-[60%]">
				<div class="flex items-center justify-start gap-4">
					<img src={astrixblack.src} alt="astrix" class="w-[4%] h-[4%] rotate"/>
					<p class="text-black font-semibold new text-[2.2rem]">We don’t just design, we engineer your</p>
				</div>
					<p class="text-black text-[2.2rem] font-semibold new">success by leveraging data-driven insights and creative innovation. We take ownership of your business, deeply understanding its unique challenges and goals, like these:</p>
			</div>
		</div>
		<Horizontal />
		<HeroSeventhPage/>
		<!-- <HeroSecond/> -->
		<!-- <div>
			<HeroFourthPage/>
		</div> -->

		<!-- <div class="w-screen h-screen bg-white">
			<HeroFifthPage/>
		</div> -->
		<HeroSixthPage/>
			
		<HeroLastPage/>
		<div class="w-screen h-screen bg-white">
			<p>test</p>
		</div>
	</main>
</Layout>

<style>

	.no-scroll{
		overflow: hidden;
	}

	.mediaan{
		font-family: "MediaanItalic";
	}

	section{
		margin: 0;
		padding: 1rem;
		box-sizing:border-box;
		width: 100%;
		height: 100vh;
		background-color: rgb(255, 255, 255);
		display: flex;
		align-items: center;
		justify-content: center;
		overflow:hidden
	}

	.picture {
		width: 100%;
		height: 200px;
		scale:0;
		object-fit: cover;
	}

	.new{
		font-family: "new";
		font-stretch: 520%;
		line-height: 1;

	}

	.headline{
		font-family: "akira";
		font-stretch:ultra-expanded;
		font-weight: 900;	
	}
	
	.font-items{
		font-family: "MediaanItalic";
		font-weight: 100;
		line-height: 1;
	}

	.nav-links a{
		color: white;
		font-weight: 600;
		font-stretch: 1000%;
		font-size: 1vw;
		cursor: pointer;
		transition: all 0.5s ease-in;
		z-index: 10;
	}

	.nav-links a:hover{
		color: yellow;
		border-radius: 10px;
	}

</style>

<script>


gsap.registerPlugin(ScrollTrigger);

	gsap.to(".rotate", {
		rotate: 360,
		repeat: -1,
		ease: "linear",
		duration: 3,
	})
	const t1 = gsap.timeline()

	t1.to(".picture", {
        scaleX: 1,
        scaleY: 1,
        width: "100vw",
        height: "100vh",
        duration: 1.5,
		opacity:1,
        ease: "power2.inOut",
    })
	.to(".loader" , {
		opacity:0,
	})
	.to(".vid", {  // Correct syntax: target both .vid and .overlay
		scaleX: 0.99,
		scaleY: 0.97,
		borderRadius: 90,
		duration: 1,
	})
	t1.from(".navbar",{
		y:"-100%",
		duration:0.5,
		opacity:0,
	})

	.to(".astrix", {
		opacity:1,
	},"anim")
	.to(".astrix", {
		rotate: "360deg",
		repeat: -1,
		ease: "linear",
		duration: 3,
		delay:-0.5,
	},"anim")

	t1.fromTo(".animated-text", 
    { opacity: 0, y: 50 }, // Starting properties: fully transparent and 50 pixels down
    { opacity: 1, y: 0, duration: 1, ease: "power2.out" ,delay:-0.9 } ,// Ending properties: fully visible and at original position
	);
	

	
	
	
	




</script>
