<nav class="navbar absolute md:top-[4%] left-1/2 transform -translate-x-1/2 w-[93%] bg-transparent z-50">
    <div class="max-sm:container max-sm:mx-auto flex justify-between items-center p-4">
        <div class="text-xl font-bold text-white mix-blend-difference">
            <a href="/">
                <img src="/assets/LogoBlack.png" alt="logo" class="w-[50px] md:w-[100px] h-auto">
            </a>
        </div>
        <div class="hidden md:flex items-center justify-between"> <!-- Show on medium screens and up -->
            <ul class="flex space-x-4 px-6 py-4 bg-[#373737] rounded-full ">
                <li class="nav-links"><a href="/products" class="text-white hover:text-[#ff6d00] transition-all duration-300">Products</a></li>
                <li class="nav-links"><a href="/services" class="text-white hover:text-[#ff6d00] transition-all duration-300">Services</a></li>
                <li class="nav-links"><a href="/resources" class="text-white hover:text-[#ff6d00] transition-all duration-300">Resources</a></li>
                <li class="nav-links"><a href="/company" class="text-white hover:text-[#ff6d00] transition-all duration-300">Company </a></li>
            </ul>
            <a href="/company#form">
                <button class="text-white text-[0.9rem] px-6 py-4 rounded-full bg-[#ff6d00] font-semibold ml-4">Get in touch</button> <!-- Get in touch button -->
            </a>
        </div>
        <button class="text-black text-[0.9rem] px-6 py-4 rounded-full bg-[#ff6d00] font-semibold md:hidden" id="hamburger">☰</button> <!-- Hamburger button -->
    </div>
    <div id="mobile-menu" class="absolute -right-[1.2rem] bg-[#e7e7d6] w-screen p-0 m-0 h-screen hidden rounded-t-2xl"> <!-- Mobile menu -->
        <ul class="flex flex-col space-y-4 p-4 h-full">
            <li class="nav-links "><a href="/products" class="flex flex-col items-start"><span class="text-[#ff6d00] text-[0.7rem] ">01</span><p>Products</p></a></li>
            <li class="nav-links "><a href="/company" class="flex flex-col items-start"><span class="text-[#ff6d00] text-[0.7rem]  ">02</span><p>Company</p></a></li>
            <li class="nav-links "><a href="/services" class="flex flex-col items-start"><span class="text-[#ff6d00] text-[0.7rem]  ">03</span><p>Services</p></a></li>
            <li class="nav-links "><a href="/resources" class="flex flex-col items-start"><span class="text-[#ff6d00] text-[0.7rem]  ">04</span><p>Resources</p></a></li>
        </ul>
    </div>
</nav>

<style>

    #mobile-menu li{
        font-family: 'new';
        font-weight: 700;
        font-stretch: 800%;
        color: black;
        font-size:2rem
    }
    
</style>
<script>
    import gsap from 'gsap';

    const hamburger = document.getElementById('hamburger');
    const mobileMenu = document.getElementById('mobile-menu');
    const menuItems = document.querySelectorAll('#mobile-menu .nav-links');

    hamburger.addEventListener('click', () => {
        const isMenuOpen = !mobileMenu.classList.contains('hidden');
        
        if (isMenuOpen) {
            // Slide menu down when closing
            gsap.to(mobileMenu, {
                y: '100%',
                duration: 0.5,
                ease: "power2.out",
                onComplete: () => {
                    mobileMenu.classList.add('hidden');
                }
            });
        } else {
            // Opening the menu
            mobileMenu.classList.remove('hidden');
            gsap.set(mobileMenu, { 
                y: '100%'
            });
            
            gsap.to(mobileMenu, {
                y: 0,
                duration: 1,
                ease: "power2.out"
            });
        }
        
        hamburger.textContent = isMenuOpen ? '☰' : '✖';
    });
</script>