---
import * as Icons from "@astropub/icons"
---


<div class="w-screen h-full bg-white mt-12">
    <p class="text-start font-new w-full stretch font-bold text-[2rem] px-16">
        Our Standard Pricing 
    </p>
    <div class="w-full h-[125vh] flex items-center justify-around px-12 py-12 gap-4 ">
        <div class="w-[33%] h-full bg-[#D2FF56] rounded-[5rem] p-10">
            <p class="font-new stretch text-[2rem] font-semibold">The Typical</p>
            <div class="flex flex-col items-center justify-between gap-12 py-8">
                <p class="font-semibold text-[1rem] text-black/60">Transform your brand with a strong visual identity. Create a consistent, emotion-driven brand presence that resonates with your target audience and drives business growth.</p>
                <ul class="flex flex-col items-start justify-center gap-6">
                    <li class="font-black text-[1rem] text-black/60 leading-none">Brand Analysis:  <span class="font-medium">Understand your brand's strengths and weaknesses.</span></li>
                    <li class="font-black text-[1rem] text-black/60 leading-none">Brand Identity:  <span class="font-medium">Essential elements like colors, fonts, and logos  </span></li>
                    <li class="font-black text-[1rem] text-black/60 leading-none">Brand Design:  <span class="font-medium">Get professional design advice.</span></li>
                    <li class="font-black text-[1rem] text-black/60 leading-none">Brand Implementation:  <span class="font-medium">Make your product stand out on the shelf.</span></li>
                </ul>
            </div>
            <div class="w-full h-[1px] bg-black"></div>
            <p class="font-black text-[1rem] text-black/60 leading-none pt-10">Satisfaction Guarantee: <span class="font-medium">If you’re not thrilled with our initial design concepts, we’ll revise them until you are – at no extra cost.</span></p>
            <p class="font-black text-[4rem] text-black leading-none pt-10 ">$120</p>
            <button class="mt-10 py-3 px-6 bg-black text-white rounded-[2rem]">Start your success</button>
        </div>
        <div class="w-[33%] h-full bg-[#F9FC50] rounded-[5rem] p-10">
            <p class="font-new stretch text-[2rem] font-semibold">The Typical</p>
            <div class="flex flex-col items-center justify-between gap-12 py-8">
                <p class="font-semibold text-[1rem] text-black/60">Transform your brand with a strong visual identity. Create a consistent, emotion-driven brand presence that resonates with your target audience and drives business growth.</p>
                <ul class="flex flex-col items-start justify-center gap-6">
                    <li class="font-black text-[1rem] text-black/60 leading-none">Brand Analysis:  <span class="font-medium">Understand your brand's strengths and weaknesses.</span></li>
                    <li class="font-black text-[1rem] text-black/60 leading-none">Brand Identity:  <span class="font-medium">Essential elements like colors, fonts, and logos  </span></li>
                    <li class="font-black text-[1rem] text-black/60 leading-none">Brand Design:  <span class="font-medium">Get professional design advice.</span></li>
                    <li class="font-black text-[1rem] text-black/60 leading-none">Brand Implementation:  <span class="font-medium">Make your product stand out on the shelf.</span></li>
                </ul>
            </div>
            <div class="w-full h-[1px] bg-black"></div>
            <p class="font-black text-[1rem] text-black/60 leading-none pt-10">Satisfaction Guarantee: <span class="font-medium">If you’re not thrilled with our initial design concepts, we’ll revise them until you are – at no extra cost.</span></p>
            <p class="font-black text-[4rem] text-black leading-none pt-10 ">$120</p>
            <button class="mt-10 py-3 px-6 bg-black text-white rounded-[2rem]">Start your success</button>
        </div>
        <div class="w-[33%] h-full bg-gray-200 rounded-[5rem] p-10">
            <p class="font-new stretch text-[2rem] font-semibold leading-none">Need Assistance? let's discuss your options</p>
            <p class="font-semibold text-[1rem] text-black/60 pt-72">We're here to help you every step of the way. Whether you're looking for guidance, need assistance, or want to explore your options, we're ready to support you every step of the way.f you're unsure which package is right for you or need something different, we're here to help. </p>
            <p class="font-bold text-[1rem] text-black pt-24 flex items-center justify-start gap-2">FAQ and terms <spn><Icons.ArrowRight size={20}/></spn></p>
            <button class="mt-12 py-3 px-6 bg-black text-white rounded-[2rem]">Contact US</button>
        </div>
    </div>
</div>

<style>
    .font-new{
        font-family: 'new';
    }

    .stretch{
        font-stretch: 500%;
    }
</style>