---
---

<div class="w-screen h-full my-20 bg-[e7e7d6] ">
    <div class="w-full h-full flex items-center justify-start">
        <p class="w-full md:w-[60%] font-new font-semibold stretch text-[1.5rem] md:text-[3rem] ps-2 md:ps-16 leading-none">
            Results That Speak: Achieve lasting success on your Contact center platform with our superior automation capabilities
        </p>
    </div>  
    <div class="w-full h-full flex flex-col order-1 justify-center mt-16 bg-[e7e7d6] ">
        <div class="w-full lg:h-[15rem] h-[4rem] relative bar">
            <div class="absolute w-[15%] lg:w-[45%] lg:h-[11rem] h-[2rem] bg-black z-10 black"></div>
            <div class="absolute w-[94%] lg:h-[11rem] h-[2rem] bg-[#FF6D00] rounded-r-[10px] lg:rounded-r-[3rem] green flex items-center justify-end pe-4 lg:pe-10 font-new font-semibold stretch lg:text-[3rem] text-[1rem] leading-none stretch">40-70 %</div>
        </div>
        <div class="w-full flex flex-col order-2 items-start justify-center gap-4">
            <p class="font-new font-semibold stretch text-[1.5rem] md:text-[2rem] ps-2 md:ps-16 leading-none">
                Automation Utilization Rate 
            </p>
            <p class="w-[80%] lg:w-[40%] font-new font-normal stretch text-[1rem] ps-2 md:ps-16 leading-1">
                Automation tools, like Voyage, Nexa can typically handle 40% to 70% of business users and operations teams' daily tasks in contact centers, depending on the complexity of tasks and the level of automation implemented.
            </p>
        </div>
    </div>
    <div class="w-full h-full flex flex-col order-1 justify-center mt-16 bg-[e7e7d6] ">
        <div class="w-full lg:h-[15rem] h-[4rem] relative bar">
            <div class="absolute w-[25%] lg:w-[15%] lg:h-[11rem] h-[2rem] bg-black z-10 black"></div>
            <div class="absolute w-[94%] lg:h-[11rem] h-[2rem] bg-[#FF6D00] rounded-r-[10px] lg:rounded-r-[3rem] green flex items-center justify-end pe-4 lg:pe-10 font-new font-semibold stretch lg:text-[3rem] text-[1rem] leading-none stretch">30 %</div>
        </div>
        <div class="w-full flex flex-col order-2 items-start justify-center gap-4">
            <p class="font-new font-semibold stretch text-[1.5rem] md:text-[2rem] ps-2 md:ps-16 leading-none">
                Cost Reduction    
            </p>
            <p class="w-[80%] lg:w-[40%] font-new font-normal stretch text-[1rem] ps-2 md:ps-16 leading-1">
                Businesses using automation in their contact centers often see 20% or beyond reduction in operational costs due to efficiencies gained through reduced labor, faster response times by business teams, and streamlined workflows in contact centers as well as faster execution of changes in production with improved time to market.​
            </p>
        </div>
    </div>
    <div class="w-full h-full flex flex-col order-1 justify-center mt-16 bg-[e7e7d6] ">
        <div class="w-full lg:h-[15rem] h-[4rem] relative bar">
            <div class="absolute w-[35%] lg:w-[35%] lg:h-[11rem] h-[2rem] bg-black z-10 black"></div>
            <div class="absolute w-[94%] lg:h-[11rem] h-[2rem] bg-[#FF6D00] rounded-r-[10px] lg:rounded-r-[3rem] green flex items-center justify-end pe-4 lg:pe-10 font-new font-semibold stretch lg:text-[3rem] text-[1rem] leading-none stretch">40-50 %</div>
        </div>
        <div class="w-full flex flex-col order-2 items-start justify-center gap-4">
            <p class="font-new font-semibold stretch text-[1.5rem] md:text-[2rem] ps-2 md:ps-16 leading-none">
                Customer Satisfaction Improvement 
            </p>
            <p class="w-[80%] lg:w-[40%] font-new font-normal stretch text-[1rem] ps-2 md:ps-16 leading-1">
                With automation improving response times and providing 24/7 service, (CSAT) scores of internal teams can increase by 40% to 50% on average, particularly when tools and options are intuitive , effectively integrated to main contact center platform​.
            </p>
        </div>
    </div>
    <div class="w-full h-full flex flex-col order-1 justify-center mt-16 bg-[e7e7d6] ">
        <div class="w-full lg:h-[15rem] h-[4rem] relative bar">
            <div class="absolute w-[25%] lg:w-[25%] lg:h-[11rem] h-[2rem] bg-black z-10 black"></div>
            <div class="absolute w-[94%] lg:h-[11rem] h-[2rem] bg-[#FF6D00] rounded-r-[10px] lg:rounded-r-[3rem] green flex items-center justify-end pe-4 lg:pe-10 font-new font-semibold stretch lg:text-[3rem] text-[1rem] leading-none stretch">25-50 %​</div>
        </div>
        <div class="w-full flex flex-col order-2 items-start justify-center gap-4">
            <p class="font-new font-semibold stretch text-[1.5rem] md:text-[2rem] ps-2 md:ps-16 leading-none">
                Efficiency Gains
            </p>
            <p class="w-[80%] lg:w-[40%] font-new font-normal stretch text-[1rem] ps-2 md:ps-16 leading-1">
                Efficiency gains, such as Task Automation rate(%), Resolution time, customer wait time reduction, ROI, Operation cost savings and reduced cost per automated task can lead to 25% to 50% increases in productivity, as automation handles repetitive tasks and allows agents to focus on more complex issues.
            </p>
        </div>
    </div>
</div>

<style>
    .font-new{
        font-family: 'new';
    }

    .stretch{
        font-stretch: 500%;
    }
</style>

<script>
    gsap.registerPlugin(ScrollTrigger);

    const bars = document.querySelectorAll('.bar');

    bars.forEach((bar) => {
        const black = bar.querySelector('.black');
        const green = bar.querySelector('.green');

        // Create a timeline for each bar
        const t1 = gsap.timeline({
            scrollTrigger: {
                trigger: bar,
                start: "50% bottom", // Start the animation when the bar is 50% in the viewport
                end: "100% top", // End when the bar is fully in the viewport
            }
        });

        // Animation for black and green divs
        t1.fromTo(black, { x: '-50%' }, { x: '0%', duration: 1, ease: 'power2.inOut' })
          .fromTo(green, { x: '-100%' }, { x: '0%', duration: 1, ease: 'power2.inOut' , delay: 0.5}, "<"); // "<" means start at the same time as the previous animation
    });
</script>
