---

---

<div class="w-full flex items-center justify-between">
  <div class=" w-[50%] flex flex-col items-start">
      <div class="w-[35%] h-[4rem] bg-red-600"></div>
      <div class="w-[50%] h-[4rem] bg-red-600"></div>
  </div>
  <div class=" w-[50%] flex flex-col items-end">
      <div class="w-[35%] h-[4rem] bg-red-600"></div>
      <div class="w-[50%] h-[4rem] bg-red-600"></div>
  </div>
</div>

