---
import Layout from '../../layouts/Layout.astro';
import Navbar2 from '../../components/Navbar2.astro';
import Footer from '../../components/Footer.astro';

const termsData = [
    {
        title: "1. Definitions",
        subpoints: [
            {
                subtitle: "1.1 Affiliate",
                content: "Affiliate: a business entity that: (i) Controls the subject party; (ii) is Controlled by such party; or (iii) is under common Control with such party, but only during the time that such Control exists. Controlled is the ability to determine the management policies of an entity through equity ownership of a majority of interests of such entity."
            },
            {
                subtitle: "1.2 AWS Region",
                content: "AWS Region: as defined and listed at https://aws.amazon.com/about-aws/global-infrastructure/regions_az/."
            },
            {
                subtitle: "1.3 Cloud Services",
                content: "Cloud Services: CXPoint-operated cloud offerings that are based on CXPoint' proprietary software deployed in a CXPoint-managed cloud services environment, and the support for such offerings, the specific features and functionality of which are described in the Documentation and identified on a Services Order as being part of the Cloud Services. Cloud Services exclude Third-Party Products, CXPoint Professional Services Apps, and Deliverables."
            },
            {
                subtitle: "1.4 Confidential Information",
                content: "Confidential Information: proprietary or other information which can reasonably be considered confidential due to its nature, or is marked as confidential, and any third-party confidential information, provided by one party Discloser to the other party hereto Recipient."
            },
            {
                subtitle: "1.5 Customer Data",
                content: "Customer Data: Customer's Confidential Information that is inputted and stored in the Cloud Services. Customer Data does not include Customer's Confidential Information inputted and stored in Cxpoint apps and the anonymized data incorporated into Service Improvements as defined in Section 11.3."
            },
            {
                subtitle: "1.6 Deliverables",
                content: "Deliverables: the CXPoint app foundry product configurations, modifications, and customizations to the cloud Services provided by CXPoint to Customer (direct customers or via 3rd party platform vendor or service implementor) pursuant to a Statement of Work."
            },
            {
                subtitle: "1.7 Documentation",
                content: "Documentation: the applicable technical instructions describing the operation of the CXPoint AppFoundry or related Cloud Services found at https://www.cxpoint.co.uk."
            },
            {
                subtitle: "1.8 Materials",
                content: "Materials: products services, Deliverables, and Documentation, collectively."
            },
            {
                subtitle: "1.9 Apps",
                content: "Apps: Any or all CXPoint developed application including such applications which are either sold directly or available on the CCaaS partner vendor online marketplace located at their respective websites which may be subject to additional terms and conditions."
            },
            {
                subtitle: "1.10 Professional Services",
                content: "Professional Services: the additional consulting and implementation services provided by CXPoint relating to Cloud Services and documented in a SOW or Services Order."
            },
            {
                subtitle: "1.11 Services",
                content: "Services: Product Services, Cloud Services, Professional Services, and the additional services listed in Section 2.5.2."
            },
            {
                subtitle: "1.12 Services Order",
                content: "Services Order: the document by which Customer orders, and CXPoint agrees to provide, Services pursuant to this Agreement."
            },
            {
                subtitle: "1.13 Statement of Work or SOW",
                content: "Statement of Work or SOW: the document by which Customer orders, and CXPoint agrees to provide product or/and Professional Services pursuant to this Agreement."
            },
            {
                subtitle: "1.14 Third-Party Product",
                content: "Third-Party Product: any software or service proprietary to an entity other than CXPoint or its Affiliates that (i) is sold or licensed separately from a standard Cloud Services license, (ii) may integrate or interoperate with the Cloud Services, and (iii) is accessible through AppFoundry or a third-party provider."
            }
        ]
    },
    {
        title: "2. Access Rights and Additional Terms",
        subpoints: [
            {
                subtitle: "2.1 Access Rights",
                content: "Subject to the terms and conditions of this Agreement, CXPoint grants Customer a non-exclusive, non-transferable, revocable, worldwide right to authorize individuals within Customer's organization, its Affiliates and contractors to use and access the Materials solely for Customer's internal business purposes during the Subscription Term."
            },
            {
                subtitle: "2.2 Continuous Delivery",
                content: "CXPoint continuously releases usability enhancements, patches, and other updates for Cloud Services. The Documentation is regularly updated by CXPoint to reflect changes to CXPOINT product and Services."
            },
            {
                subtitle: "2.3 Support and Security",
                content: "CXPoint will provide support for the Cloud Services designed to achieve the service levels described at https://www.cxpoint.co.uk/resources/articles/service-level-agreements/ and security for the Cloud Services in accordance with the terms at https://www.cxpoint.co.uk/resources/articles/policies/cxpoint-cloud-security-policy/, which terms are incorporated herein by reference."
            },
            {
                subtitle: "2.4 Updates",
                content: "CXPoint reserves the right to update the terms incorporated into Sections 2.2 and 2.3 during the Subscription Term."
            },
            {
                subtitle: "2.5 Terms Applicable to Third Party Products and Additional Services",
                content: "Customer's use or CXPoint' provision of any Third-Party Products will be subject to the terms of the shrink-wrap, click-wrap or other accompanying license included or provided with such Third-Party Products."
            },
            {
                subtitle: "2.5.1 Additional country-specific provisions",
                content: "Additional country-specific provisions located at https://www.cxpoint.co.uk/resources/articles/policies will apply to Customer when accessing the Services from the referenced country(ies)."
            },
            {
                subtitle: "2.5.2 Training Courses",
                content: "CXPoint' provision of training courses is subject to the terms and conditions located at https://www.cxpoint.co.uk/resources/articles/policies which are incorporated by reference herein."
            },
            {
                subtitle: "2.5.3 Add-on Services",
                content: "If Customer purchases add on services additional terms and conditions will apply."
            }
        ]
    },
    {
        title: "3. RIGHTS AND LIMITATIONS OF USE",
        subpoints: [
            {
                subtitle: "3.1 Proprietary Rights",
                content: "All intellectual property rights in the Materials, and all updates, upgrades, enhancements, new versions, releases, corrections, copies, translations, adaptations, and modifications thereof, are and shall remain the exclusive property of CXPoint or its Affiliates, business partners, licensors or suppliers, as applicable, whether or not specifically recognized or perfected under applicable laws. All intellectual property rights in and to Customer Data are and shall remain Customer's sole property, provided, however, that Customer grants CXPoint, its Affiliates and contractors the right to access, process, store, transmit, and otherwise make use of the Customer Data with the Cloud Services to ensure its proper operation, fulfil CXPoint' obligations, or as otherwise consistent with this Agreement. CXPoint will not rent or sell Customer Data."
            },
            {
                subtitle: "3.2 Use Restrictions",
                content: "Customer will not, and will not permit, or authorize any third party to, (i) sell, rent, lease, transfer, sublicense, share or otherwise make the Materials available to any third party, except as expressly authorized by this Agreement; (ii) create any derivative works, functionally equivalent product(s) or translations of the Cloud Services or Deliverables, or otherwise use the Materials other than as expressly permitted by this Agreement; (iii) copy any feature, design or graphic in, or disassemble, reverse engineer or decompile, the Cloud Services or Deliverables; (iv) access or use the Materials to compete with CXPoint or to assist a third party to do so; (v) remove or modify any proprietary markings or restrictive legends placed on the Materials; (vi) take any action that jeopardizes CXPoint' rights or that of its Affiliates, business partners, licensors or suppliers in the Materials; (vii) violate any laws; (viii) use the Cloud Services or Deliverables in a manner that is defamatory, harassing, hateful, infringing or otherwise causes damage or injury to any person or property, including to CXPoint and its Affiliates, business partners, licensors or suppliers; (ix) publish or disclose to any third parties the results of any performance, benchmarking or comparison testing, or analysis of the CXPoint's cloud Services or Deliverables; (x) use the Materials to provide the following services to third parties, excluding Customer's Affiliates and contractors: outsourcing, hosting, application service provider or online services; (xi) transmit viruses or other deleterious code; (xii) perform unauthorized penetration testing, vulnerability scans, or automated testing; or (xiii) damage, disable, overburden, including load testing, or impair the Cloud Services or any other party's use of the Cloud Services."
            },
            {
                subtitle: "3.3 Feedback",
                content: "To the extent not already owned by CXPoint, Customer hereby grants CXPoint a perpetual, exclusive, royalty-free, irrevocable, worldwide license to use or disclose any suggestions, enhancement requests, recommendations, proposals, ideas or other feedback Customer provides to CXPoint concerning the Services, and create derivative works thereof, without restriction, compensation, obligation or liability of any kind to Customer or to any third party."
            },
            {
                subtitle: "3.4 Data Center Services",
                content: "The software used to provide the Cloud Services is located on servers that are controlled by Amazon Web Services (“AWS”). Customer shall comply with the AWS Acceptable Use Policy found at https://aws.amazon.com/aup/ (“AWS AUP”), which is incorporated by reference herein."
            }
        ]
    },
    {
        title: "4. CONFIDENTIALITY",
        subpoints: [
            {
                subtitle: "4.1 Confidentiality",
                content: "The Recipient will safeguard the confidentiality of Discloser's Confidential Information and will take, at a minimum, the precautions Recipient takes to protect its own Confidential Information but, in any event, no less than reasonable care. Recipient will (i) not disclose or use Discloser's Confidential Information for any purpose other than as contemplated by, and consistent with, the terms of this Agreement, (ii) limit access to Discloser's Confidential Information only to its Affiliates, employees and agents who have a need to know such information and who are bound by written confidentiality obligations at least as protective as this Agreement (provided Recipient shall be liable for such parties' compliance with the terms hereof), and (iii) not sell, transfer, disclose or otherwise make Discloser's Confidential Information available to any third party without Discloser's prior written consent."
            },
            {
                subtitle: "4.2 Disclosure Due to Binding Order",
                content: "If Recipient is required to disclose Discloser's Confidential Information to comply with a governmental or judicial order, Recipient will promptly notify Discloser of such a request, unless legally prohibited from doing so, so that Discloser may seek an appropriate protective order. If Discloser seeks a protective order, Recipient will reasonably cooperate in such effort at Discloser's expense. Subject to Recipient's compliance with the foregoing notice and cooperation obligations, Recipient may make the required disclosure if it is, upon the advice of counsel, compelled to disclose all or a portion of Discloser's Confidential Information."
            },
            {
                subtitle: "4.3 Exceptions",
                content: "Recipient's obligations to protect Discloser's Confidential Information does not apply to information that (i) is or becomes, through no act or omission of Recipient, publicly available, (ii) was known by Recipient at the time of receipt, as shown by Recipient's contemporaneous written records, (iii) is subsequently and rightfully provided to Recipient by a third party without restriction on disclosure, or (iv) is independently developed by Recipient without use of or reliance on Discloser's Confidential Information. CXPoint' Confidential Information includes the Materials, and other technical information relating thereto."
            },
            {
                subtitle: "4.4 Return and Retention of Confidential Information",
                content: "The Recipient will return any tangible materials containing Confidential Information, and any copies or reproductions thereof, to the Discloser within 30 days after the Discloser's written request; provided, however, the Recipient shall be permitted to retain copy of such Confidential Information for the purpose of performing any continuing obligations under this Agreement (including any Services Order), for archival purposes or compliance with applicable laws and regulations. Any Confidential Information retained by the Recipient shall be subject to confidentiality obligations pursuant to the terms of this Section. Recipient agrees to undertake whatever action is reasonably necessary to remedy any breach of Recipient's confidentiality obligations or any other unauthorized disclosure or use of the Confidential Information by Recipient, its Affiliates, employees, agents, or contractors."
            },
            {
                subtitle: "4.5 Injunctive Relief",
                content: "The Recipient acknowledges that monetary damages may not be a sufficient remedy for unauthorized disclosure of Confidential Information and that the Discloser shall be entitled, without waiving any other rights or remedies, to seek such injunctive or equitable relief, as may be deemed proper by a court of competent jurisdiction, without the necessity of posting any bond."
            }
        ]
    },
    {
        title: "5. PAYMENT TERMS",
        subpoints: [
            {
                subtitle: "5.1 Payment",
                content: "CXPoint will invoice Customer in advance upon acceptance of the Services Order and/or SOW, either annually or in accordance with a different billing frequency stated in the Services Order and/or SOW, as applicable. During the Subscription Term identified in a Services Order, if actual usage exceeds the committed subscription fees for the applicable commitment period identified in the Services Order, CXPoint will charge Customer for such excess usage monthly in arrears, for each month the Customer exceeds such committed fees, at the subscription pricing listed therein. Any unused committed quantities during the applicable commitment period will be forfeited and will not carry over to the following months or years, as applicable. Unused committed quantities have no cash value. Unless the applicable Services Order or SOW provides for a different payment term, all payments are due within 30 days of the invoice date using one of CXPoint' acceptable payment methods. Except as otherwise stated in this Agreement, any prepaid amounts are nonrefundable, and Services Orders and SOWs are non-cancelable. Except as otherwise specified in the applicable Services Order or SOW, the fees do not include any taxes."
            },
            {
                subtitle: "5.2 Interest Rate",
                content: "Subject to Section 5.3, all past due payments will bear interest at the rate of 1.5% per month or such lower rate as permitted by law, and Customer is obligated to pay all collection costs incurred by CXPoint."
            },
            {
                subtitle: "5.3 Fee Disputes",
                content: "If Customer disputes in good faith the amount of any invoice, Customer will timely pay the undisputed amount and will notify CXPoint in writing of the disputed amount no later than the date payment would otherwise be due, providing the reasons for the dispute. The parties will attempt to resolve the dispute in good faith within 30 days after CXPoint' receipt of Customer's notice of such dispute the Resolution Period, during which time withholding of the disputed amount will not be considered a material breach of this Agreement and no interest will accrue for late payment of the disputed amount. Upon resolution of the dispute, Customer will pay the resolved amount promptly but, in any case, within 10 days of mutual written agreement resolving the dispute. If the dispute is not resolved within the Resolution Period, each party will be entitled to pursue all available remedies."
            }
        ]
    },
    {
        title: "6. TAXES",
        subpoints: [
            {
                subtitle: "6.1 Sales Taxes",
                content: "Customer is responsible for paying all sales taxes, use taxes, value added taxes, goods and services taxes, transaction taxes, or similar excise taxes, including any duties, or similar items (collectively, “Sales Tax”) associated with a Services Order or SOW or direct online subscriptions and reimbursing CXPoint for any Sales Tax with respect to the amounts due. If Customer provides CXPoint with an incorrect ship-to address or, where applicable, does not provide CXPoint with a valid tax exemption certificate prior to placing an order, CXPoint will not provide Customer with a credit for such Sales Tax and Customer will be responsible for getting a refund from the applicable tax authority."
            },
            {
                subtitle: "6.2 Withholding Taxes",
                content: "CXPoint is responsible for all taxes on CXPoint' net income, and if Customer is required by any competent taxing authority to withhold taxes from payments made to CXPoint hereunder, then Customer shall deduct such withholding tax from the payment to CXPoint and pay such tax to the taxing authority on behalf of CXPoint (“Withholding Taxes”). Customer shall obtain for and provide to CXPoint, within 90 days after submitting such Withholding Taxes, the original tax certificate or receipt issued by the taxing authority evidencing such tax payment sufficient to allow CXPoint to apply for an appropriate tax credit. In the event Customer does not provide the original tax certificate or receipt issued by the taxing authority, Customer shall be liable for and shall reimburse CXPoint for the amounts deducted as Withholding Taxes from the payment. The parties agree to take all reasonable steps to reduce or eliminate Withholding Taxes under applicable law, including income tax treaties. Customer will not rely on CXPoint to determine the applicability of Withholding Taxes and is ultimately responsible for assessing and paying any applicable Withholding Taxes."
            }
        ]
    },
    {
        title: "7. WARRANTIES",
        subpoints: [
            {
                subtitle: "7.1 Cloud Services Warranty",
                content: "Subject to Section 7.3, CXPoint warrants to Customer that, during the Subscription Term, the Cloud Services will materially conform to the then-current description set forth in the Documentation. If Customer becomes aware of a warranty breach, Customer must notify CXPoint in writing, upon which CXPoint will, at its option, either: (i) modify the Cloud Services to materially conform to the current description; or (ii) provide a workaround solution that will reasonably meet Customer' requirements. If neither option is achieved or achievable within a reasonable period of time after Customer's written notification to CXPoint, either party may terminate the affected Cloud Services by providing the other party 30 days' written notice of such termination and an opportunity to cure within such 30 days, after which termination will become effective and CXPoint will refund any pre-paid, unused fees to the Customer. The remedies provided in this Section constitute Customer's sole and exclusive remedy for breach of the warranty described herein."
            },
            {
                subtitle: "7.2 Professional Services Warranty",
                content: "CXPoint warrants that the Professional Services will be performed in a professional and workmanlike manner and in accordance with applicable requirements of this Agreement and any applicable SOW or Services Order."
            },
            {
                subtitle: "7.3 Warranty Exclusions",
                content: "CXPoint' warranties obligations in set forth in this Agreement do not apply to the extent a warranty claim arises from: (i) Customer's use of the Services in combination with other programs, Third-Party Products, hardware, data or specifications that are not expressly described in the Documentation; (ii) Customer's use or configuration of Services contrary to the directions or descriptions in the Documentation; (iii) the development or use of any customizations, other than customizations undertaken and performed by CXPoint, its subcontractors, or agents; or (iv) Customer Data or other Customer content uploaded to or used with the Services."
            },
            {
                subtitle: "7.4 Disclaimer",
                content: "Except for the warranties expressly provided in this Section, CXPoint is providing the Materials and support “as is” and does not make, and hereby disclaims on behalf of itself and its Affiliates, to the fullest extent permitted by law, all warranties, whether express or implied, statutory or otherwise, including any warranty of merchantability, satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security, timeliness, completeness, or accuracy. Without limiting the foregoing, CXPoint does not warrant that use of the Cloud Services or Deliverables will be uninterrupted or error free or that all defects will be corrected. To the extent that CXPoint cannot disclaim a warranty as a matter of law, the scope and duration of such warranty will be the minimum permitted under applicable law."
            }
        ]
    },
    {
        title: "8. LIMITATION OF LIABILITY",
        subpoints: [
            {
                subtitle: "8.1 Unlimited Liability",
                content: "The liability cap set forth in Section 8.2 and liability exclusions in Section 8.3 shall not apply to any liability resulting from: (i) CXPoint' indemnification obligations for an IP claim as defined in Section 9.1; (ii) Customer's indemnification obligations set forth in Section 9.3; (iii) either party's breach of Section 4 (Confidentiality), except for breaches involving Customer Data, including security incident(s), which will be subject to Section 8.2; (iv) Customer's failure to pay any fees due under this Agreement, including any interest and/or collection costs; (v) either party's misappropriation of the other party's intellectual property rights; (vi) death or bodily injury; (vii) fraud or fraudulent misrepresentation; or (viii) any other liability which cannot be limited by operation of law."
            },
            {
                subtitle: "8.2 Liability Cap",
                content: "Subject to Sections 8.1 and 8.3: (i) except where section 8.2(ii) applies, the maximum aggregate liability of either party and its Affiliates to the other party and its Affiliates, collectively, for any and all event(s) giving rise to any liabilities, claims or causes of action arising in connection with or under this Agreement, including contract, warranty, tort (such as negligence), strict liability, misrepresentation, breach of statutory duty or otherwise Event will not exceed the total fees paid and payable by Customer to CXPoint during the applicable Liability Period (as defined below), excluding fees for Professional Services; and (ii) the maximum aggregate liability of either party and its Affiliates to the other party and its Affiliates, collectively, for all and any Event(s) arising in connection with the provision of Professional Services will not exceed an amount equal to the total fees paid and payable by Customer to CXPoint for Professional Services under the relevant Services Order or SOW. Liability Period means each 06 months period commencing on the Effective Date and on each anniversary thereafter. Any Event giving rise to separate causes of action will be considered a single Event and deemed to have occurred when the first Event occurred. If the Event occurs: (i) prior to execution of this Agreement, it shall be deemed to have occurred during the first 06 months of this Agreement, and (ii) after termination or expiration of this Agreement, it shall be deemed to have occurred during the last 06 months of this Agreement."
            },
            {
                subtitle: "8.3 Liability Exclusions",
                content: "Subject to Section 8.1, neither party nor its respective Affiliates will be liable to the other party for any: (i) indirect and/or consequential loss; (ii) special, incidental, exemplary, or punitive damages; (iii) loss of goodwill (including pecuniary losses arising from loss of goodwill); (iv) loss of profits or revenue; (v) loss of contract, sales and/or business; (vi) loss of savings, including anticipated savings; (vii) losses related to a disruption or work stoppage, cover damages (including the cost of procuring an alternative vendor, software or service); or (viii) wasted expenditure."
            },
            {
                subtitle: "8.4 Risk Allocation",
                content: "The limitations of liability and exclusions contained in this Agreement will apply regardless of (i) whether any resulting damages are foreseeable, and the legal theory asserted, and (ii) the success or effectiveness (or lack thereof) of any remedies provided herein. These limitations and exclusions are reflected in the pricing for the services made available hereunder, they represent an agreed-upon allocation of risk between the parties and are an essential part of this Agreement. CXPoint will not be liable for any damages caused by services provided free of charge. In the event that any exclusion or limitation of liability in this Section 8 is deemed unenforceable, limitation on liability will be the minimum amount permitted by law."
            }
        ]
    },
    {
        title: "9. INDEMNIFICATION",
        subpoints: [
            {
                subtitle: "9.1 CXPoint IP Indemnification",
                content: "Subject to Section 9.2, CXPoint will defend Customer from and against any third-party claims alleging that the Cloud Services or Deliverables, in their unaltered state, infringes or misappropriates such third party's valid and enforceable intellectual property rights (“IP Claim”), and will indemnify Customer from damages finally awarded against Customer, and pay for any settlements agreed to by CXPoint, with respect to such IP Claims. CXPoint may at any time and at its option and expense: (i) obtain for Customer a license to continue using the Cloud Services or Deliverables, (ii) modify the Cloud Services or Deliverables so as to avoid infringement while preserving substantially equivalent functionality, or (iii) terminate this Agreement or the applicable Services Order or SOW, and the rights granted thereunder, and refund to Customer, as applicable, (i) any prepaid, unused fees covering the remainder of the Subscription Term of the applicable Services Order, or (ii) the fees paid for the affected Deliverable less an amount for depreciation determined on a straight-line 24-month (or actual term if shorter) depreciation basis with a commencement date as of the date of delivery of such Deliverable. This Section states CXPoint entire liability and Customer's sole and exclusive remedy with respect to any infringement or claims of infringement of any third-party intellectual property rights related to the Services."
            },
            {
                subtitle: "9.2 IP Indemnification Exclusions",
                content: "CXPoint' defense and indemnity obligations in Section 9.1 do not apply to the extent the IP Claim arises from: (i) third party products or Customer's use of the Cloud Services or Deliverables in combination with other programs, hardware, data or specifications that are not required by CXPoint for the use of core functionality described in the Documentation; (ii) the development or use of any customizations, other than customizations undertaken and performed by CXPoint, its subcontractors, or agents; (iii) CXPoint' compliance with Customer's request or instructions; (iv) Customer's way or process of doing business; or (v) Customer Data or other Customer content uploaded to or used with the Cloud Services."
            },
            {
                subtitle: "9.3 Customer's Indemnification",
                content: "Customer will defend CXPoint and its Affiliates from and against any third party claims alleging that Customer's content, Customer Data, methods or processes of doing or conducting business, or customizations (other than those undertaken and performed by CXPoint) infringe or misappropriate a third party's intellectual property rights, and will indemnify CXPoint and its Affiliates from any damages finally awarded, and pay for any settlements agreed to by Customer, with respect to such claims."
            },
            {
                subtitle: "9.4 Indemnification Procedures",
                content: "A party entitled to indemnification (“Indemnified Party”) will promptly notify the other party (“Indemnifying Party”) in writing of any claim and provide reasonable assistance to the Indemnifying Party with respect to handling such claim, at the Indemnifying Party's expense. Failure to provide timely notice or reasonable assistance will relieve the Indemnifying Party of its indemnification obligations to the extent that the Indemnifying Party has been materially prejudiced thereby. The Indemnifying Party has the right, at its sole discretion, to defend and settle any claim, except that the Indemnifying Party may not agree to any settlement that does not unconditionally release the Indemnified Party without the Indemnified Party's prior written consent. The Indemnified Party will be entitled to participate in the defense of any such claim using counsel of its choice, at its own expense."
            }
        ]
    },
    {
        title: "10. TERM. SUSPENSION OF SERVICES AND TERMINATION",
        subpoints: [
            {
                subtitle: "10.1 Term",
                content: "The term of this Agreement will start on the Effective Date and continue until terminated as provided herein (“Term”). For Cloud Services, the initial subscription period will be specified in the first Services Order agreed by the Customer (“Initial Subscription Term”), which, except as otherwise specified in the applicable Services Order, will automatically renew upon prior written notice to Customer for the term outlined in the Services Order (each, a “Renewal Subscription Term”), unless either party notifies the other party in writing of its intent not to renew at least 45 days prior to the start date of the upcoming Renewal Subscription Term. Pricing for Renewal Subscription Terms is subject to change. The Initial Subscription Term, the Renewal Subscription Term, and the ramp period, if applicable, are herein collectively referred to as the Subscription Term."
            },
            {
                subtitle: "10.2 Suspension",
                content: "CXPoint reserves the right to immediately suspend the Cloud Services, or a portion thereof, or reject or cancel the transmission of any information through the Cloud Services based upon (i) reasonable belief that the use of the Cloud Services is in violation of laws, or (ii) an imminent compromise to the security or integrity of the network. As practicable depending on the circumstances, CXPoint will provide notice of the suspension to Customer. Subject to Section 5.3, CXPoint may also suspend the Cloud Services for Customer's failure to pay any amounts when due after providing notice of the suspension at least 30 days in advance."
            },
            {
                subtitle: "10.3 Termination for Cause",
                content: "Either party may terminate this Agreement, a Services Order, or a SOW upon written notice if the other party materially breaches any provision of this Agreement or the applicable Services Order or SOW and, if susceptible to cure, fails to cure such breach within 30 days after initial notice of such breach."
            },
            {
                subtitle: "10.4 Effects of Termination",
                content: "Upon the effective date of termination or expiration of this Agreement, all rights granted hereunder shall terminate and Customer must (i) stop using the Materials, and (ii) return or destroy from all computing and storage equipment all CXPoint' Confidential Information in its possession or control, and all copies thereof, and verify such destruction or deletion by providing CXPoint a statement signed by Customer's duly authorized representative. Within 30 days upon Customer's termination of this Agreement, a Services Order, or a SOW, as provided in Section 10.3, CXPoint will refund Customer a pro rata portion of any prepaid but unused fees corresponding to, as applicable, (i) the remainder of the Subscription months, or (ii) Professional Services not rendered to the Customer. If CXPoint terminates this Agreement, a Services Order, or a SOW, as provided in Section 10.3, Customer will pay CXPoint, within 30 days upon such termination, any charges incurred up to the effective month of termination and any fees payable under the applicable Services Order(s) or SOW(s) in effect at the time of termination."
            },
            {
                subtitle: "10.4.1 Parties' Obligations",
                content: "Upon the effective date of termination or expiration of this Agreement, all rights granted hereunder shall terminate and Customer must (i) stop using the Materials, and (ii) return or destroy from all computing and storage equipment all CXPoint' Confidential Information in its possession or control, and all copies thereof, and verify such destruction or deletion by providing CXPoint a statement signed by Customer's duly authorized representative. Within 30 days upon Customer's termination of this Agreement, a Services Order, or a SOW, as provided in Section 10.3, CXPoint will refund Customer a pro rata portion of any prepaid but unused fees corresponding to, as applicable, (i) the remainder of the Subscription months, or (ii) Professional Services not rendered to the Customer. If CXPoint terminates this Agreement, a Services Order, or a SOW, as provided in Section 10.3, Customer will pay CXPoint, within 30 days upon such termination, any charges incurred up to the effective month of termination and any fees payable under the applicable Services Order(s) or SOW(s) in effect at the time of termination."
            },
            {
                subtitle: "10.4.2 Retrieval of Customer Data",
                content: "If Customer requires additional time to retrieve its Customer Data from the Cloud Services beyond the date of termination, Customer may request, and CXPoint will grant, a 30-day extension to the Subscription Term of the applicable Services Order; provided such request is made on or prior to the termination date. During the extended period, Customer will be charged in advance for its usage towards monthly subscription of the Cloud Services. The Cloud Services will be terminated at the end of the extension month, unless otherwise agreed to by the parties."
            }
        ]
    },
    {
        title: "11. CUSTOMER DATA",
        subpoints: [
            {
                subtitle: "11.1 Data Residency",
                content: "Customer Data will reside in the AWS Region selected by Customer throughout the Subscription Term of the relevant Services Order. CXPoint will not change the AWS Region without Customer's prior written consent. Customer Data may be accessed outside the selected AWS Region solely for the purposes of providing the Services, including maintenance, support and/or responding to a troubleshooting request, provided however, CXPoint must always comply with its obligations under applicable privacy legislation. Customer Data will be processed in accordance with the terms of this Agreement, data processing terms agreed between the parties, if applicable, and requirements of applicable law."
            },
            {
                subtitle: "11.2 Data Compliance",
                content: "Customer represents and warrants that it has obtained all the consents necessary for CXPoint to collect, access, process, store, transmit, and otherwise use Customer Data in accordance with this Agreement. Customer acknowledges that CXPoint has no control over the content of Customer Data, and CXPoint expressly disclaims any duty to review or determine the legality, accuracy or completeness of Customer Data loaded, uploaded, managed, transmitted by the customer while using the CXPoint Cloud services."
            },
            {
                subtitle: "11.3 Service Improvements",
                content: "CXPoint may aggregate data and information related to the performance, operation and use of the Services to conduct statistical analyses, benchmarking, research, development, training and other similar activities (“Service Improvements”). CXPoint will not incorporate Customer Data in Service Improvements in a form that could identify Customer or Customer's customers and will use industry standard techniques to anonymize Customer Data prior to performing Service Improvements, unless otherwise consented to by Customer. CXPoint retains all intellectual property rights in Service Improvements and may make them publicly available."
            }
        ]
    },
    {
        title: "12. GENERAL",
        subpoints: [
            {
                subtitle: "12.1 Compliance with Applicable Laws",
                content: "Each party will comply with laws and regulations applicable to such party, including all applicable anti-corruption and anti-bribery laws. Customer represents and warrants that (i) neither Customer nor any of the authorized users within Customer's organization are on any government-issued list of restricted persons or entities, including the Consolidated List, Commerce Department Entity List, Denied Persons List or Unverified List, the Treasury Department Specially Designated Nationals and Blocked Persons List, and the State Department Debarred Parties List, and (ii) it will not export or re-export, directly or indirectly, any Materials or Confidential Information provided by CXPoint to any countries outside the United Kingdom except as permitted under the export control and sanctions laws and regulations of the United Kingdom and other countries that may prohibit or restrict access by certain persons or from certain countries or territories."
            },
            {
                subtitle: "12.2 Marketing",
                content: "CXPoint may use Customer's name and logo in marketing materials in reference to Customer's use of the Services, subject to Customer's prior written approval of the content."
            },
            {
                subtitle: "12.3 Assignment",
                content: "Neither party may assign its rights or obligations under this Agreement, either in whole or in part, except (i) with respect to a sale of substantially all of its assets, merger or change in the party's ownership, (ii) to an Affiliate, or (iii) with the prior written consent of the other party, which shall not be unreasonably withheld. Notwithstanding the foregoing, if Customer is acquired by, sells substantially all of its assets to, or undergoes a change of control in favor of, a direct competitor of CXPoint, then CXPoint may terminate this Agreement upon written notice to Customer. The rights and liabilities of the parties hereto shall bind and insure to the benefit of their respective permitted successors and assigns."
            },
            {
                subtitle: "12.4 Order of Precedence and Survival",
                content: "Except as otherwise described in this Section, in the event of a conflict between the terms of this Agreement, the terms applicable to Third-Party Products and additional Services outlined in Section 2.5, and a Services Order or SOW, the order of precedence will be as follows: (i) the terms applicable to Third-Party Products and additional Services outlined in Section 2.5, (ii) the terms of the applicable Services Order or SOW, and (iii) the terms of this Agreement. However, the following sections may not be modified by a Services Order or SOW: 3.1 (Proprietary Rights); 7 (Warranties); 8 (Limitation of Liability); and 9 (Indemnification). Except as otherwise provided herein, neither party shall have further obligations under this Agreement, except that the parties shall remain bound by the obligations which, by their nature, are intended to survive termination."
            },
            {
                subtitle: "12.5 Subcontracting",
                content: "CXPoint may subcontract certain services under this Agreement to third parties. CXPoint shall be responsible for the performance of such subcontractors hereunder."
            },
            {
                subtitle: "12.6 Force Majeure",
                content: "Except for payment obligations, neither party will be responsible for any delay or failure to comply with its obligations under this Agreement resulting from acts beyond the reasonable control of such party, including acts of God, denial of service attacks, strikes, lockouts, riots, war, terrorism, pandemics, fire, communication line failures, power failures, earthquakes or other disasters, natural or man-made."
            },
            {
                subtitle: "12.7 Governing Law. Jurisdiction.",
                content: "This Agreement shall be governed by the governing laws in UK, and any dispute related to this Agreement shall be subject to the exclusive jurisdiction of the respective courts in UK, listed at https://www.CXPoint.com/company/legal-docs/governing-law-jurisdiction-and-notices, based on Customer's domicile, without reference to conflicts of law provisions. The parties agree to submit to the personal and exclusive jurisdiction and venue of such courts. The UN Convention for the International Sale of Goods shall not apply to this Agreement. The prevailing party to any dispute shall be entitled to recover its cost of enforcing a claim."
            },
            {
                subtitle: "12.8 Notices",
                content: "All notices under this Agreement shall be in writing and deemed to have been given when (i) personally delivered, (ii) sent by registered mail, postage prepaid (which shall be deemed to have been received on the third business day following the date on which it is mailed), or (iii) sent overnight by a commercial overnight courier that provides a receipt (which shall be deemed to be received on the next business day after mailing). In the case of CXPoint, notice shall be sent to the address for the applicable CXPoint entity as set forth at https://www.CXPoint.com/company/legal-docs/governing-law-jurisdiction-and-notices. CXPoint will send notices to Customer to the address associated with Customer's account."
            },
            {
                subtitle: "12.9 Waiver and Remedies",
                content: "No provision of this Agreement may be waived unless such waiver is in writing and signed by the party against which the waiver is to be effective. A party's failure to act with respect to a breach of this Agreement by the other party does not constitute a waiver of its rights with respect to subsequent or similar breaches. Except as otherwise provided herein, all remedies herein are cumulative, and the specification of a remedy will not preclude either party from pursuing other remedies available at law or in equity."
            },
            {
                subtitle: "12.10 Complete Agreement",
                content: "This Agreement constitutes the complete agreement between the parties and supersedes all prior agreements and representations, written or oral, concerning the subject matter hereof. Use of any purchase order or other document Customer provides in connection with this Agreement will be for administrative convenience only and all terms and conditions stated therein will be void and of no effect. Without prejudice to updates to terms in accordance with Section 2.4, this Agreement may not otherwise be modified or amended except in writing signed or executed by a duly authorized representative of each party. Except as expressly provided herein, each party acknowledges and agrees that it is not relying upon any other statements, representations, warranties, promises, assurances, the delivery of future functionality or features, or the like."
            }
        ]
    },
    // ... additional sections can be added here as needed ...
];
---

<Layout title="Terms of Service | CX-Point">
    <main class="min-h-screen bg-[#E7E7D6]">
        <Navbar2/>
        
        <div class="container mx-auto px-4 md:px-8 py-16 md:py-24">
            <div class="max-w-4xl mx-auto">
                <!-- Header Section -->
                <div class="mb-12 md:mb-16 pt-20">
                    <h1 class="text-4xl md:text-7xl font-bold mb-6 new text-center">Terms of Service</h1>
                    <p class="text-gray-600 mb-4 lg:mt-20">Last Updated: Jan, 2025</p>
                    <p class="text-lg leading-relaxed">
                        This CXPOINT CLOUD Services Agreement (together with all applicable Terms and conditions included in Services Order(s) and SOW(s) executed hereunder, the "Agreement") is
entered into by and between the CXPoint entity identified in a Services Order or SOW ("CXPoint") and the counterparty to that Services Order or SOW ("Customer") and contains
the terms and conditions that govern Customer's access to and use of the CXPoint's cloud product Services and related Deliverables (as defined below). This Agreement is effective
when Customer procures and applies for Free Trial or Paid subscription of services or executes a Services Order or SOW referencing this Agreement (the "Effective Date")
                    </p>
                </div>

                <!-- Terms Sections -->
                <div class="space-y-8 md:space-y-12">
                    {termsData.map((section) => (
                        <div class="terms-section">
                            <h2 class="text-2xl md:text-3xl font-semibold mb-4 new">{section.title}</h2>
                            <div class="space-y-6">
                                {section.subpoints.map((subpoint) => (
                                    <div class="ml-4">
                                        {subpoint.subtitle && (
                                            <h3 class="text-xl font-semibold mb-2">{subpoint.subtitle}</h3>
                                        )}
                                        <p class="text-lg leading-relaxed text-gray-800">{subpoint.content}</p>
                                    </div>
                                ))}
                            </div>
                        </div>
                    ))}
                </div>

                <!-- Contact Section -->
                <div class="mt-12">
                    <p class="text-lg text-gray-700">
                        If you have any questions about these Terms of Service, please contact us at 
                        <a href="mailto:legal@cxpoint.com" class="text-blue-600 hover:underline">
                        legal@cxpoint.com</a>
                    </p>
                </div>
            </div>
        </div>

        <Footer />
    </main>
</Layout>

<style>
    .new {
        font-family: "new";
        font-stretch: 520%;
        line-height: 1.2;
    }

    .terms-section {
        padding: 2rem 0;
    }
</style>
